/*Inserta tu css aqui*/
body {
	background: #dfdfdf;
	font-size: 14px;
	color: #777;
	font-family: 'Roboto', 'Open Sans';
}

.all-bg::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 127px;
	background: #009688;
	z-index: -1;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.container {
	position: relative;
	background: #eee;
	width: 1380px;
	height: 910px;
	max-height: 910px;
	margin: 19px auto;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(119,119,119,0.6);
    -moz-box-shadow: 0px 2px 6px 0px rgba(119,119,119,0.6);
	box-shadow: 0px 2px 6px 0px rgba(119,119,119,0.6);
}

.wrapper {
	width: 100%;
}

.side {
	width: 30%;
	overflow: hidden;
	max-height: 910px;
}

.side-header {
	width: 100%;
	padding: 10px 15px;
	box-sizing: border-box;
	display: flex;
	position: relative;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.user {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	overflow: hidden;
	cursor: pointer;
}

.user img {
	width: 100%;
}

.side-icons {
	padding: 10px 0;
	right: 20px;
	position: absolute;
}

.icon-message,
.icon-dots-three-vertical,
.icon-attachment {
	color: #777;
	margin: 0 10px;
	font-size: 20px;
	cursor: pointer;
}

.form {
	background: #f8f8f8;
	padding: 10px 0;
	box-sizing: border-box;
}

.search-form {
	width: 95%;
	margin: 0 auto;
}

.search-form input {
	background: #fefefe;
	border: 1px solid #f0f0f0;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
}

#search {
	width: calc(100% - 31px);
	border-left: none;
	margin-left: -15px;
	border-radius: 0 5px 5px 0;
}

#submit {
	vertical-align: top;
	height: 39px;
	border-right: none;
	border-radius: 5px 0 0 5px;
}

#chats {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 790px;
}

#chats::-webkit-scrollbar-thumb {
	background: #dfdfdf;
}

#chats::-webkit-scrollbar-track {
	background: #fff;
}

.side-chat {
	background: #fff;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	clear: both;
}

.side-chat:hover {
	background: #eee;
}

.users {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	overflow: hidden;
	float: left;
}

.users img {
	width: 100%;
}

.sc-info {
	padding: 4px 0px 4px 60px;
	box-sizing: border-box;
}

.sc-info h4 {
	margin-bottom: 8px;
}

.main {
	width: 70%;
	max-height: 910px;
	position: absolute;
	right: 0;
	top: 0;
	background: #eae6e4;
	overflow: hidden;
}

.main-header {
	width: 100%;
	padding: 10px 15px;
	box-sizing: border-box;
	background: #eee;
	border-bottom: 1px solid #dfdfdf;
	display: flex;
	position: relative;
}

.main-icons {
	padding: 10px 0;
	right: 20px;
	position: absolute;
}

.chat-info {
	margin-left: 10px;
	color: #444;
	cursor: pointer;
}

h4,p {
	margin: 0;
	padding: 0;
}

h4 {
	margin-bottom: 3px;
}

.chat-box {
	background: url(../image/chat-panel-bg.png);
	padding: 30px 40px;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 780px;
}

.chat-box::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.2);
}

.chat-box::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.0);
}

.chat-bubble {
	background: #fff;
	border-radius: 5px;
	padding: 25px 12px 25px 30px;
	box-sizing: border-box;
	width: 350px;
	margin-bottom: 3px;
}

h5 {
	margin: 0 0 5px 0;
	padding: 0;
}

.first-user,
.fourth-user,
.sixth-user {
	color: #6bcbef;
}
.second-user,
.eighth-user {
	color: #e542a3;
}
.third-user,
.seventh-user {
	color: #35cd96;
}
.fifth-user {
	color: #dfb610;
}

.your-chat-bubble {
	background: #e3f4c6;
	border-radius: 5px;
	padding: 25px 12px 25px 30px;
	box-sizing: border-box;
	width: 300px;
	margin-bottom: 3px;
	margin-left: 62%;
}

.time {
	float: right;
	font-weight: 300;
}

footer {
	width: 100%;
	padding: 10px 15px;
	box-sizing: border-box;
	background: #eee;
	display: flex;
	position: relative;
}

.icon-insert_emoticon,
.icon-mic {
	color: #888;
	margin: 10px 10px;
	font-size: 30px;
	cursor: pointer;
}

.msn {
	background: #fff;
	color: #aaa;
	padding: 15px 20px;
	width: 85%;
	border-radius: 5px;
}

@media(max-width: 1468px) {
	.container {
		width: 1230px;
	}

	.your-chat-bubble {
	margin-left: 58%;
}
}

@media(max-width: 1348px) {
	.container {
		width: 1130px;
	}

	.side {
		width: 35%;
	}

	.main {
		width: 65%;
	}

	.chat-bubble {
		width: 250px;
	}

	.your-chat-bubble {
	width: 250px;
	margin-left: 56%;
	}
}

@media(max-width: 1200px) {
	.container {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	body {
		margin: 0;
		padding: 0;
	}

	.side {
		width: 40%;
	}

	.main {
		width: 60%;
	}

	.chat-bubble {
		width: 200px;
	}

	.your-chat-bubble {
	width: 200px;
	margin-left: 64%;
	}
}

@media(max-width: 650px) {
	body {
		min-width: 650px;
	}
}